@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("https://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg") no-repeat;
        min-height: 100vh;
        background-color: #fff;
        background-size: cover;
        background-position: center;
    }
    
    #text{ 
        font-size: 30px;
        text-align: absolute;
        margin-top: 10px;
    }